/* Global styles for HTML, body, and root */

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: './assets/images/Pawsbackground.png';
  background: radial-gradient(circle, #CBE6F8 0%, #8AAEC6 65%), url('assets/images/Pawsbackground.png') no-repeat right top;
  background-size: cover;
}

/* App styles */
.app {
  display: flex;
  position: relative;
}

h1 {
  color: #0095D5;
}

h5 {
  color: #464646;
}
