<<<<<<< HEAD
/* Global styles for HTML, body, and root */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, #cbe6f867 0%, #8aaec653 65%), url('./assets/images/Pawsbackground.png');
  background-size: cover;
}

/* App styles */
.app {
  display: flex;
  position: relative;
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
>>>>>>> parent of 8e91de0 (navbar-completed)
}
